<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event Manager</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container">
        <h1>Event Manager</h1>
        <div class="links">
            <a href="/events/organiser" class="btn">Organiser Home</a>
            <a href="/events/attendee" class="btn">Attendee Home</a>
        </div>
    </div>
</body>

</html>