<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= siteName %> - Event Manager
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= siteName %>
        </h1>
        <p>
            <%= siteDescription %>
        </p> <!-- Display the site description here -->
        <div class="links">
            <a href="/events/organiser" class="btn">Organiser Home</a>
            <a href="/events/attendee" class="btn">Attendee Home</a>
        </div>
    </div>
</body>

</html>