<h1>All Bookings for Event</h1>
<table>
    <tr>
        <th>Attendee Name</th>
        <th>Full Price Tickets</th>
        <th>Concession Tickets</th>
        <th>Booking Date</th>
    </tr>
    <% bookings.forEach(booking=> { %>
        <tr>
            <td>
                <%= booking.attendee_name %>
            </td>
            <td>
                <%= booking.full_price_tickets %>
            </td>
            <td>
                <%= booking.concession_tickets %>
            </td>
            <td>
                <%= new Date(booking.booking_date).toLocaleString() %>
            </td>
        </tr>
        <% }); %>
</table>

<a href="/events/organiser">Back to Organizer Home</a>